<div class="dialog-content">
    <div fxLayout="column" fxLayoutAlign="start center">
        <img src="assets/icons/user-avatar.png" class="avatar contact-avatar huge m-0"
            [alt]="'MARITZA YANINA MILLA TARAZONA'" />
        <div class="mt-8 title">MARITZA YANINA MILLA TARAZONA</div>
        <div class="mb-12 sub-title">  <mat-icon class="s-10 success-icon">check_circle</mat-icon><small> Técnico de escalafón</small> </div>
        <button mat-raised-button color="accent" class="submit-button">
            <span>UNIDAD DE GESTIÓN EDUCATIVA LOCAL 04 COMAS</span>
        </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch">
        <mat-list>
            <mat-divider class="item-divider"></mat-divider>
            <mat-list-item class="list-item" role="listitem">
                <mat-icon class="list-icon" mat-list-icon>check_box</mat-icon>Procesos del sistema
            </mat-list-item>
            <mat-divider class="item-divider"></mat-divider>
            <mat-list-item class="list-item" role="listitem">
                <mat-icon class="list-icon" mat-list-icon>account_box</mat-icon>Ver perfil
            </mat-list-item>
            <mat-divider class="item-divider"></mat-divider>
            <mat-list-item class="list-item" role="listitem">
                <mat-icon class="list-icon" mat-list-icon>help</mat-icon>Ayuda
            </mat-list-item>
            <mat-divider class="item-divider"></mat-divider>
            <mat-list-item class="list-item" role="listitem">
                <mat-icon class="list-icon" mat-list-icon>info</mat-icon>Preguntas frecuentes
            </mat-list-item>
            <mat-divider class="item-divider"></mat-divider>
            <mat-list-item class="list-item" role="listitem">
                <mat-icon class="list-icon" mat-list-icon>power_off</mat-icon>Cerrar sesión
            </mat-list-item>
        </mat-list>
    </div>
</div>