<div class="navbar-top" [ngClass]="sisdaConfig.layout.navbar.secondaryBackground">
    <div class="logo">
        <img class="logo-icon" src="assets/images/logo-educarh-white.png">
        <span class="logo-text primary-text">SISDA</span>
    </div>
    <div class="buttons">
        <button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>
        <button mat-icon-button class="toggle-sidebar-opened" (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>
    </div>
</div>


<div class="navbar-scroll-container" [ngClass]="sisdaConfig.layout.navbar.primaryBackground" sisdaPerfectScrollbar
    [sisdaPerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="row" [ngClass]="sisdaConfig.layout.navbar.secondaryBackground">
        <div class="avatar-container" [ngClass]="sisdaConfig.layout.navbar.primaryBackground">
            <mat-icon class="s-30" fxHide.sm>account_circle</mat-icon>
        </div>
        <div fxLayout="column">
            <div class="username ml-20">MARITZA YANINA MILLA TARAZONA</div>
            <div class="email mt-3 ml-20">
                <small>
                    <mat-icon class="success-icon">check_circle</mat-icon>Técnico de escalafón
                </small>
            </div>
        </div>

    </div>

    <div class="navbar-content">
        <sisda-navigation class="sisda-navbar" layout="vertical"></sisda-navigation>
    </div>

</div>