@mixin sigsda-sidebar-theme($theme) {

    $background: map-get($theme, background);

    sigsda-sidebar {
        background: map-get($background, background);
    }

    .sigsda-sidebar-overlay {
        background-color: rgba(0, 0, 0, 0.6);

        &.sigsda-sidebar-overlay-invisible {
            background-color: transparent;
        }
    }
}