:host {
    display: flex;
    flex: 0 0 auto;
    z-index: 3;

    .mat-menu{
        background: #e5e5e5;
        color: #444142;
        border-top: 1px solid #dee2e6;   
        font-size: 12px;
        padding: 1rem;  
    }

    .mat-footer {
        background: #fff;
        color: #444142;
        border-top: 1px solid #dee2e6;   
        font-size: 12px;
        padding: 1rem;       
    }

    &.above {
        position: relative;
        z-index: 99;
    }    
}